Repository Vizzuality/trase, pull requests merged in 2018-04, with the labels that each got.

#435 Fix issue preventing recoloring by selection after another recolor cr…
  frontend/scripts/react-components/nav/filters-nav/recolor-by-selector/recolor-by-selector.component.jsx
Labels: Frontend

#403 Download chunking
  app/controllers/api/v3/download_controller.rb
  app/services/api/v3/download/zipped_csv_download.rb
  app/services/api/v3/download/zipped_download.rb
  app/services/api/v3/download/zipped_json_download.rb
Labels: DON'T MERGE

#449 Make tool page pills always visible
  frontend/scripts/components/tool/nodesTitles.component.js
  frontend/scripts/reducers/app.reducer.js
  frontend/styles/_settings.scss
  frontend/styles/components/shared/veil.scss
  frontend/styles/components/tool/map.scss
  frontend/styles/layouts/l-tool.scss
Labels: Frontend

#446 Load map nodes attributes per selected layer
  app/controllers/api/v3/nodes/nodes_attributes_controller.rb
  app/services/api/v3/node_attributes/filter.rb
  frontend/scripts/actions/tool.actions.js
  frontend/scripts/components/tool/tool-content.component.js
  frontend/scripts/containers/tool/titlebar.container.js
  frontend/scripts/containers/tool/tool-content.container.js
  frontend/scripts/reducers/helpers/getChoropleth.js
  frontend/scripts/reducers/helpers/setNodesMeta.js
  frontend/scripts/reducers/tool.reducer.js
  spec/responses/api/v3/nodes_attributes_spec.rb
  spec/services/api/v3/node_attributes/filter_spec.rb
Labels: API, Frontend
