Repository Vizzuality/trase, pull requests merged in 2018-10, with the labels that each got.

#556 Disable sankey/map animation while in loading state
  frontend/scripts/actions/tool.actions.js
  frontend/scripts/components/tool/tool-content.component.js
  frontend/scripts/pages/tool.page.jsx
  frontend/scripts/react-components/tool/tool.reducer.js
  frontend/scripts/react-components/tool/tool.thunks.js
  frontend/styles/layouts/l-tool.scss
Labels: bug

#557 Add dashboard template
  .rubocop.yml
  Gemfile
  Gemfile.lock
  app/admin/api/v3/dashboard_template.rb
  app/controllers/admin/commodity_search_controller.rb
  app/controllers/admin/country_search_controller.rb
  app/controllers/admin/node_search_controller.rb
  app/controllers/api/v3/dashboards/templates_controller.rb
  app/models/api/v3/commodity.rb
  app/models/api/v3/country.rb
  app/models/api/v3/dashboard_template.rb
  app/models/api/v3/dashboard_template_commodity.rb
  app/models/api/v3/dashboard_template_company.rb
  app/models/api/v3/dashboard_template_country.rb
  app/models/api/v3/dashboard_template_destination.rb
  app/models/api/v3/dashboard_template_source.rb
  app/models/api/v3/node.rb
  app/models/api/v3/readonly/node.rb
  app/serializers/admin/commodity_search_serializer.rb
  app/serializers/admin/company_search_serializer.rb
  app/serializers/admin/country_search_serializer.rb
  app/serializers/admin/destination_search_serializer.rb
  app/serializers/admin/source_search_serializer.rb
  app/serializers/api/v3/dashboards/template_serializer.rb
  app/services/api/v3/import/importer.rb
  config/routes.rb
  db/migrate/20181003063720_create_dashboard_templates.rb
  db/migrate/20181004075142_create_api_v3_dashboard_template_nodes.rb
  db/migrate/20181005063834_create_api_v3_dashboard_template_commodities.rb
  db/migrate/20181005063841_create_api_v3_dashboard_template_countries.rb
  db/migrate/20181005063849_create_api_v3_dashboard_template_companies.rb
  db/migrate/20181005063856_create_api_v3_dashboard_template_destinations.rb
  db/migrate/20181005063909_create_api_v3_dashboard_template_sources.rb
  db/migrate/20181005064856_remove_dashboard_template_node_relationship.rb
  db/structure.sql
  spec/controllers/api/v3/dashboards/templates_controller_spec.rb
  spec/factories/api/v3/api_v3_dashboard_template_commodities.rb
  spec/factories/api/v3/api_v3_dashboard_template_companies.rb
  spec/factories/api/v3/api_v3_dashboard_template_countries.rb
  spec/factories/api/v3/api_v3_dashboard_template_destinations.rb
  spec/factories/api/v3/api_v3_dashboard_template_sources.rb
  spec/factories/api/v3/api_v3_dashboard_templates.rb
  spec/responses/api/v3/dashboards/templates_spec.rb
  spec/support/schemas/dashboards_templates.json
Labels: WIP

#596 Remove COUNTRY OF PRODUCTION from the source tabs
  app/services/api/v3/dashboards/filter_meta.rb
Labels: API

#594 Fix/speed up slow migration
  .rubocop.yml
  app/admin/api/v3/dashboards_attribute_group.rb
  app/controllers/api/v3/dashboards/templates_controller.rb
  app/controllers/concerns/api/v3/dashboards/pagination_headers.rb
  app/models/api/v3/readonly/dashboards/flow_attribute.rb
  app/models/api/v3/readonly/dashboards/node_attribute.rb
  app/services/api/v3/dashboards/chart_data_from_node_attributes.rb
  app/services/api/v3/dashboards/retrieve_attributes.rb
  db/migrate/20181002105509_create_dashboards_node_attributes_mv.rb
  db/migrate/20181002105912_create_dashboards_flow_attributes_mv.rb
  db/migrate/20181019222226_speed_up_dashboards_flow_attributes_refresh.rb
  db/migrate/20181019232447_speed_up_dashboards_node_attributes_refresh.rb
  db/structure.sql
  db/views/dashboards_flow_attributes_mv_v02.sql
  db/views/dashboards_node_attributes_mv_v02.sql
  spec/controllers/admin/dashboards_attribute_groups_controller_spec.rb
  spec/controllers/admin/dashboards_attributes_controller_spec.rb
  spec/controllers/admin/download_attributes_controller_spec.rb
  spec/controllers/admin/ind_properties_controller_spec.rb
  spec/controllers/admin/map_attribute_groups_controller_spec.rb
  spec/controllers/admin/map_attributes_controller_spec.rb
  spec/controllers/admin/node_properties_controller_spec.rb
  spec/controllers/admin/qual_properties_controller_spec.rb
  spec/controllers/admin/quant_properties_controller_spec.rb
  spec/controllers/admin/recolor_by_attributes_controller_spec.rb
  spec/controllers/admin/resize_by_attributes_controller_spec.rb
  spec/controllers/api/v3/dashboards/commodities_controller_spec.rb
  spec/controllers/api/v3/dashboards/companies_controller_spec.rb
  spec/controllers/api/v3/dashboards/countries_controller_spec.rb
  spec/controllers/api/v3/dashboards/destinations_controller_spec.rb
  spec/controllers/api/v3/dashboards/sources_controller_spec.rb
  spec/controllers/api/v3/download_controller_spec.rb
  spec/models/api/v3/download_attribute_spec.rb
  spec/models/api/v3/map_attribute_group_spec.rb
  spec/models/api/v3/map_attribute_spec.rb
  spec/models/api/v3/recolor_by_attribute_spec.rb
  spec/models/api/v3/resize_by_attribute_spec.rb
  spec/rails_helper.rb
  spec/responses/api/v3/contexts_spec.rb
  spec/responses/api/v3/dashboards/attributes_spec.rb
  spec/responses/api/v3/dashboards/commodities_spec.rb
  spec/responses/api/v3/dashboards/companies_spec.rb
  spec/responses/api/v3/dashboards/countries_spec.rb
  spec/responses/api/v3/dashboards/destinations_spec.rb
  spec/responses/api/v3/dashboards/sources_spec.rb
  spec/responses/api/v3/dashboards/templates_spec.rb
  spec/responses/api/v3/download_attributes_spec.rb
  spec/responses/api/v3/map_layers_spec.rb
  spec/responses/api/v3/nodes_attributes_spec.rb
  spec/responses/api/v3/nodes_search_spec.rb
  spec/services/api/v3/database_validation/checks/active_record_check_spec.rb
  spec/services/api/v3/database_validation/checks/declared_years_match_data_spec.rb
  spec/services/api/v3/database_validation/checks/has_at_least_one_spec.rb
  spec/services/api/v3/database_validation/checks/has_exactly_one_of_spec.rb
  spec/services/api/v3/database_validation/report_spec.rb
  spec/services/api/v3/download/flow_download_query_builder_spec.rb
  spec/services/api/v3/is_mview_populated_spec.rb
  spec/services/api/v3/map_layers/map_attribute_filter_spec.rb
  spec/services/api/v3/node_attributes/filter_spec.rb
  spec/services/api/v3/nodes_search/filter_spec.rb
Labels: API

#597 Mark node attribute as disabled if no node filters set
  app/services/api/v3/dashboards/retrieve_attributes.rb
Labels: API
